program/utils/chrlauncher-win64-stable-codecs-sync/*
test.py
slide_test.py

program/synopse/*

# Ignore by default
*.html
# allow tracking within specific foplder
!program/templates/*.html

*.xlsx
*.xlsb
*.log
*.pdf
*.pyc
*.png
*.docx
*.zip